---
# Desktop (non-WSL) specific packages

- name: Install desktop fonts and tools
  ansible.builtin.apt:
    name:
      - fonts-firacode
      - ydotool
      - ydotoold
      - openssh-server
    state: present

- name: Install VS Code
  community.general.snap:
    name: code
    classic: true

- name: Install Discord
  community.general.snap:
    name: discord

- name: Install Steam
  community.general.snap:
    name: steam

- name: Install Zoom
  community.general.snap:
    name: zoom-client
