---
# Desktop (non-WSL) specific packages

- name: Install desktop fonts and tools
  ansible.builtin.apt:
    name:
      - fonts-firacode
      - ydotool
      - ydotoold
      - openssh-server
    state: present

- name: Install VS Code
  community.general.snap:
    name: code
    classic: true

- name: Install Discord
  community.general.snap:
    name: discord

- name: Install Steam
  community.general.snap:
    name: steam

- name: Install Zoom
  community.general.snap:
    name: zoom-client

- name: Get latest RStudio version from GitHub tags
  ansible.builtin.uri:
    url: https://api.github.com/repos/rstudio/rstudio/tags?per_page=1
    return_content: true
  register: rstudio_tags

- name: Set RStudio version fact
  ansible.builtin.set_fact:
    rstudio_version: "{{ rstudio_tags.json[0].name | regex_replace('^v', '') | regex_replace('\\+', '-') }}"

# Ubuntu LTS codenames ordered newest to oldest
- name: Define Ubuntu LTS codenames in order
  ansible.builtin.set_fact:
    ubuntu_codenames_ordered:
      - { name: 'resolute', version: '26.04' }
      - { name: 'noble', version: '24.04' }
      - { name: 'jammy', version: '22.04' }
      - { name: 'focal', version: '20.04' }

- name: Filter codenames to those not newer than current system
  ansible.builtin.set_fact:
    compatible_codenames: "{{ ubuntu_codenames_ordered | selectattr('version', 'version', ansible_distribution_version, '<=') | map(attribute='name') | list }}"

- name: Check RStudio availability for each compatible codename
  ansible.builtin.uri:
    url: "https://download1.rstudio.org/electron/{{ item }}/amd64/rstudio-{{ rstudio_version }}-amd64.deb"
    method: HEAD
  register: rstudio_check
  loop: "{{ compatible_codenames }}"
  ignore_errors: true

- name: Select best available codename
  ansible.builtin.set_fact:
    rstudio_ubuntu_codename: "{{ (rstudio_check.results | selectattr('status', 'defined') | selectattr('status', 'eq', 200) | first).item }}"

- name: Show selected RStudio package
  ansible.builtin.debug:
    msg: "Installing RStudio {{ rstudio_version }} ({{ rstudio_ubuntu_codename }} build)"

- name: Install RStudio
  ansible.builtin.apt:
    deb: "https://download1.rstudio.org/electron/{{ rstudio_ubuntu_codename }}/amd64/rstudio-{{ rstudio_version }}-amd64.deb"
