---
# System update tasks

- name: Update apt cache
  ansible.builtin.apt:
    update_cache: true

- name: Upgrade all packages
  ansible.builtin.apt:
    upgrade: dist

- name: Remove unused packages
  ansible.builtin.apt:
    autoremove: true
    autoclean: true
